/* html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: black; 
    user-select: none;
} */
#canvas {
    position: fixed;
    top: 0;
    left: 0;
    background: transparent !important;
    user-select: none;
    z-index: -1;
}
#mouse-control-control {
    position: fixed;
    left: 50px;
    bottom: 50px;
    background: transparent;
    color: rgba(255, 255, 255, 0.6);
    padding: 5px 10px;
    border: solid 2px;
    border-radius: 6px;
    outline: none;
    opacity: 1;
    transition: transform 0.1s cubic-bezier(0.09, 0.95, 0.14, 1.25), opacity 0.1s cubic-bezier(0.09, 0.95, 0.14, 1.25);
}
#mouse-control-control:before {
    content: attr(data-on);
}
#mouse-control-control.off {
    opacity: 0.3;
    transform: translate(-2px, 2px);
}
#mouse-control-control.off:before {
    content: attr(data-off);
}
#mouse-control-control:hover {
    color: rgba(225, 205, 255, 0.6);
}
button {
    font-size: 1em;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    button {
        font-size: 2em;
   }
}
